@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
}

header {
  position: fixed;
  width:98%;
  z-index: 999;
}

.categories, .new, .article-details, .edit, .auth {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 64px;
  align-items: center;
  /* background-image: url(images/bckgrnd.jpeg); */
  background: #e9e9e9;
  background-repeat:no-repeat;
  background-size:cover;
  width: 98vw;
  
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background: #e9e9e9;
  background-repeat:no-repeat;
  background-size:cover;
}


.carousel {
  overflow:hidden;
  width:80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8px;
  position:relative;
}
.carousel_item {
  display: inline-flex;
  flex-direction: column;
  background-repeat:no-repeat;
  background-size:cover;
  height: 490px;
  width: 100%;
  position: relative;
  background-color: rgb(0, 0, 0, .4);
  background-blend-mode:overlay;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  height:auto;
  width: auto;
  position: relative;
box-shadow: 0 2px black ;
}


.carousel_item p {
  color:white;
  position: relative;
  width: 60%;
  min-height: 80px;
  overflow: hidden;
  text-align: center;
  white-space: normal;
  text-overflow: ellipsis;
  height: fit-content;
}
.carousel_item h3 {
  color:white;
  margin-bottom: 0;
  font-size: 3rem;
  position: relative;
  width: 80%;
  text-align: center;
  white-space: normal;
  padding-top: 6%;
  height: fit-content;
}

.carousel_item button {
width: 40%;
max-width: 120px;
margin-top: 2%;
height: fit-content;
}

.carousel_item button:hover {
  cursor: pointer;
}

.carousel_info {
  display: grid;
  width: 60%;
  justify-items: center;
  height: 100%;
}

.carousel_btns {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #e3eaf3;
  border: solid 1px black;
  padding: 0 20px;
}

.carousel_btns button {
  border: none;
  cursor: pointer;
  background: none;
}

.indicator {
  color: black;
}

.indicator_active {
  color: #923080;
}

.search {
  width: 100%;
  position: relative;
}


.search input {
  height: 48px;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  border: solid 1px rgb(0, 0, 0);
  border-radius:30px;
}


.form {
  width: 90%;
  
  align-content: center;
  justify-content: center;
  padding-top: 3%;
}

.form form label, input, p{
  width: 100%;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  /* margin-bottom: 15px; */
}

.form form label, p{
  color: gray;
}

.article-card img{
height: 200px;
width:100%;
object-fit: fill;
}

.article-card {
  top: 20px;
  position:relative;
  display: flex;
  /* background-color: rgba(159, 146, 161, 0.2); */
  width: 80%;
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.article-card a{
text-decoration: none;
color: black;
}

.article-details section {
  background-color: rgba(255, 255, 255, 0.7);
  width: 95%;
  text-align: center;
  margin-top: 2%;
  height: 80vh;
  margin-bottom: 20px;
}

.article-details p {
  color: black;
}

.article-details-btns {
  margin: 5px;
}

.article-details button {
  margin: 5px;
  cursor: pointer;
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height:550px;
}

.articleCard-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth p{
  width: 100%;
  text-align: center;
}

.auth-form {
  background-color: rgb(31, 19, 28);
  width: 50%;
  padding: 20px;
}

.auth-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.auth-form input {
  width: 90%;
  margin-bottom: 12px;
}
.auth-form button {
  flex-basis: 45%;
  margin-top:6px;
  margin-right: 5px;
  background-color: grey;
}

.comment-section {
  background-color: white;
  width: 100%;
  text-align: center;
  min-height: 200px;
  box-shadow: 0 0 8px 8px gray;
  padding: 8px;
  padding-bottom: 24px;
}

.form  fieldset{
  display: flex;
}

.editor .ql-container {
  height:400px;
}

.ql-video {
  width:50%;
  height: 400px;
}

.article-text h1, .form h1 {
font-size: 3em !important;
line-height: normal !important;
}

.article-text h2, .form h2 {
  font-size: 2.5em !important;
line-height: normal !important;
}

.article-text h3, .form h3 {
  font-size: 2em !important;
line-height: normal !important;
}

.article-text h4, .form h4 {
  font-size: 1.5em !important;
  line-height: normal !important;
}

.article-text h5, .form h5 {
  font-size: 1em !important;
  line-height: normal !important;
}

.article-text h6, .form h6 {
  font-size: .75em !important;
  line-height: normal !important;
}

.article-text p {
  font-size: 1em !important;
  font-weight:100 !important;
}

.article-text a {
  color: rgb(45, 133, 197) !important;
  text-decoration: underline !important;
}

.article-text strong {
  font-weight:900 !important;
  color: rgb(34, 34, 34) !important;
}

.hide-on-mobile {
  display: none;
}

.categories {
  width: 100%;
}

.new, .edit .form {
  margin-top: 24px;
  margin-bottom: 24px;
}

.formCheckbox {
  appearance: none;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -o-appearance: none;
}


@media screen and (max-width: 1200px) {
  .carousel_info { 
    width:70%
  }
  .carousel_info h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .carousel_info { 
    width:100%
  }
  .carousel_info h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .carousel_info p {
    display: none;
  }
  .carousel_info h3 {
    margin-top: 30%;
  }
}

@media screen and (max-width: 500px) {
  .search form{
    display: grid;
  }
  .search form input{
    font-size: 0.8rem;
    margin-right: 25%;
}
  .search form button {
    display: flex;
    align-self: center;
    justify-self: center;
  }
}
@media screen and (max-width: 500px) {
  .cardText {
 font-size: 1.5rem;
}
}

@media screen and (max-width: 1360px) {
  .categoryText {
 font-size: .9rem;
}
.categoryTitle {
  font-size: 1.25rem;
}
}

@media screen and (max-width: 1150px) {
  .categoryText {
 font-size: .8rem;
}
.categoryTitle {
  font-size: 1.1rem;
}
}

@media screen and (max-width: 960px) {
  .categoryText {
 font-size: 1rem;
}
.categoryTitle {
  font-size: 1.5rem;
}
}

@media screen and (max-width: 655px) {
  .categoryText {
 font-size: .9rem;
}
.categoryTitle {
  font-size: 1rem;
}
}

@media screen and (max-width: 480px) {
  .categoryText {
 font-size: .7rem;
}
.categoryTitle {
  font-size: .9rem;
}
}

@media screen and (max-width: 719px) {
  .authButton {
    display: none;
  }
}

@media screen and (max-width: 1350px) {
  .searchResult {
    grid-template-columns: repeat(1, minmax(0, 1fr))
  }
}

@media screen and (max-width: 700px) {
  .resultTitle {
   font-size: 1.1rem;
  }
  .resultText {
   font-size: .9rem;
  }
}

@media screen and (max-width: 500px) {
  .resultTitle {
   font-size: .8rem;
  }
  .resultText {
   font-size: .7rem;
  }
}

@media (max-width: 900px) {
  .categoryName {
    font-size: .7rem; /* Adjust the font size as needed */
  }
}

@media (max-width: 780px) {
    .flex-row {
      flex-direction: column; /* Change to column layout on smaller screens */
    }
  
    .flex-row > .p-0 {
      margin: 4px 0; /* Add vertical spacing between categories */
    }/* Adjust the font size as needed */
  
}